@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fffd98;
  background-image: linear-gradient(
    62deg,
    #fffd98 0%,
    #bde4a7 24%,
    #b3d2b2 49%,
    #9fbbcc 75%,
    #7a9cc6 100%
  );
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pw-container {
  border-radius: 20px;
  width: 400px;
  background-color: #bbe6b4;
  box-shadow: 0px 3px 8px #9c97f3;
}

.pw {
  padding-left: 10px;
  font-size: 1.2rem;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.pw button {
  background-color: #add7c9;
  outline: none;
  opacity: 0;

  position: absolute  ;
  top: 225px;
  left: 920px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.pw:hover button {
  opacity: 1;
}

.pw-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 16px;
  background-color: #a3e79f;
}

.pw-body {
  padding:  10px 15px ;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.generateE {
    margin-top: 10px;
  width: 100%;
  background-color: rgb(122, 156, 198);
 border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}
